[user]
    name = tobynet
    email = toby.netinfo+git@gmail.com
[include]
    path = .gitconfig.local
[core]
    whitespace = nowarn
    #editor = ~/bin/git_editor.sh
    editor = vim
    # http://stackoverflow.com/questions/136178/git-diff-handling-long-lines
    pager = less -r
    quotepath = false
    autocrlf = false
[apply]
    whitespace = nowarn
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
[push]
    # push only the current branch
    default = tracking
[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)<%an>%Creset' --abbrev-commit
    la = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    ll = log --graph --date=iso --decorate --stat
    lla = log --graph --date=iso --decorate --all --stat
    lp = log --graph --date=iso --decorate -p --stat
    lpa = log --graph --date=iso --decorate --all -p --stat

    # Log for modified files (with add, deleted, renamed...)
    lM = l --diff-filter=AMDR --
    laM = la --diff-filter=AMDR --
    llM = ll --diff-filter=AMDR --
    llaM = lla --diff-filter=AMDR --

    # Log for deleted files (with renamed)
    lD = l --diff-filter=DR --
    laD = la --diff-filter=DR --
    llD = ll --diff-filter=DR --
    llaD = lla --diff-filter=DR --
    
    # Log for added files (with renamed)
    lA = l --diff-filter=AR --
    laA = la --diff-filter=AR --
    llA = ll --diff-filter=AR --
    llaA = lla --diff-filter=AR --

    # List modified files only(without deleted fiels)  $from_id $to_id $dir/
    ls = diff --diff-filter=ACMR --name-only 
    ls-help = !echo 'ex. git ls HEAD~3 HEAD src/'
    # Export ../diff.zip archive  $target_id $files
    zip-archive = archive --format=zip --worktree-attributes -o ../diff.zip 
    zip-archive-help = !echo 'eg. git zip-archive HEAD $(git ls HEAD~3 HEAD src/)'

    co = checkout
    cob = checkout -b 
    st = status --untracked-files=all --short --branch
    sta = status --untracked-files=all
    c = commit
    cv = commit --verbose
    cvc = commit --verbose -c HEAD
    ci = commit
    civ = commit --verbose
    civc = commit --verbose -c HEAD
    # add
    a  = add -p
    ad = add
    ap = add -p
    ai = add -i
    # addしてcommit
    cia = commit --all
    ciav = commit --all --verbose
    ciavc = commit --all --verbose -c HEAD
    d = diff
    dc = diff --cached
    di = diff --color-words
    dic = diff --color-words --cached
    br = branch
    bra = branch --all
    dt = difftool
    branch-delete = branch -d
    branch-new = checkout -b
    branch-all = branch -a
    gitk-bg = !"gitk HEAD --not $(git rev-parse --remotes) &"
    # See http://stackoverflow.com/questions/53569/how-to-get-the-changes-on-a-branch-in-git
    # branch-name = !git branch 2>/dev/null | GREP_OPTIONS= grep -e ^* | tr -d '* '
    branch-name = !git for-each-ref --format='%(refname:short)' $(git symbolic-ref HEAD)
    branch-rename = !git branch -m `git branch-name` $1
    merge-no-ff = merge --no-ff
    #  merge-rebase = !git rebase 
    #cdroot = !"cd $(git rev-parse --show-toplevel)" # cdは駄目っぽい
    # detail log
    wp = whatchanged -p
    aliases = config --get-regexp ^alias
    alias = aliases
[gui]
    encoding = utf-8
[i18n]
    commitencoding = UTF-8
    logOutputEncoding = UTF-8
[diff]
    tool = vimdiff
#    external = ~/bin/git_diff_wrapper.sh
[credential]
    helper = manager
